In [2]:
import pandas as pd
import numpy as np

In [3]:
df_train = pd.read_csv('data/train.csv')

/Users/fidel/Capstone-Project-Rossman-Sales/.venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [5]:
df_train.shape

(1017209, 9)

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [7]:
df_train['StateHoliday'].unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

In [8]:
df_train['SchoolHoliday'].unique()

array([1, 0])

In [9]:
cols = df_train.columns.tolist()
cols = [col.lower() for col in cols]
df_train.columns = cols

In [10]:
df_train = df_train.rename(columns={'date':'timestamp'})

In [11]:
df_train = df_train.assign(
    timestamp = lambda x: pd.to_datetime(x['timestamp']), 
    date = lambda x: x['timestamp'].dt.date,
    year = lambda x: x['timestamp'].dt.year,
    month = lambda x: x['timestamp'].dt.month,
    day = lambda x: x['timestamp'].dt.day,
    dayofyear = lambda x: x['timestamp'].dt.dayofyear
)

In [12]:
df_train.drop('date', axis=1, inplace=True)

In [13]:
df_train.stateholiday.value_counts()

0    855087
0    131072
a     20260
b      6690
c      4100
Name: stateholiday, dtype: int64

In [14]:
df_train['stateholiday'].replace({'0':'num'}, inplace=True)

In [15]:
df_train.stateholiday.value_counts()

num    855087
0      131072
a       20260
b        6690
c        4100
Name: stateholiday, dtype: int64

In [16]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 13 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   store          1017209 non-null  int64
 1   dayofweek      1017209 non-null  int64
 2   timestamp      1017209 non-null  datetime64[ns]
 3   sales          1017209 non-null  int64
 4   customers      1017209 non-null  int64
 5   open           1017209 non-null  int64
 6   promo          1017209 non-null  int64
 7   stateholiday   1017209 non-null  object
 8   schoolholiday  1017209 non-null  int64
 9   year           1017209 non-null  int64
 10  month          1017209 non-null  int64
 11  day            1017209 non-null  int64
 12  dayofyear      1017209 non-null  int64
dtypes: datetime64[ns](1), int64(11), object(1)
memory usage: 100.9+ MB

In [17]:
df_store = pd.read_csv('data/store.csv')

In [18]:
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [48]:
df_train.year.unique()

array([2015, 2014, 2013])

In [49]:
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [50]:
While df.year = 2015:
    If date time = isin(Liste mit Feiertagen f√ºr 2015):
        df.stateholiday = 0

SyntaxError: invalid syntax (1423111854.py, line 1)

In [57]:
for i, ts in enumerate(df_train.timestamp):
    if df_train.year.iloc[i] == 2013:
        if df_train.dayofyear.iloc[i] == 359 or 358:
            df_train.stateholiday.iloc[i] = 'c'
            
    if df_train.year.iloc[i] == 2014:
        if df_train.dayofyear.iloc[i] == 359 or 358:
            df_train.stateholiday.iloc[i] = 'c'
            
    if df_train.year.iloc[i] == 2015:
        if df_train.dayofyear.iloc[i] == 359 or 358:
            df_train.stateholiday.iloc[i] = 'c'

In [1]:
df_train['stateholiday'].head(30)

NameError: name 'df_train' is not defined

In [ ]:
for date in liste datum feiertage pro bundesland:
    if date == feiertag bayern:
        df.schoolholiday = 'a_bayern'
    elif date == feiertag berlin:
        df.schoolholiday = 'a_berlin'
    else:
        df... = 'a_'

In [ ]:
for i, ts in enumerate(df_train.timestamp):
    if df_train.year.iloc[i] == 2013:
        if df_train.dayofyear.iloc[i] == 359 or 358:
            df_train.stateholiday.iloc[i] = 'a'
            
    if df_train.year.iloc[i] == 2014:
        if df_train.dayofyear.iloc[i] == 359 or 358:
            df_train.stateholiday.iloc[i] = 'a'
            
    if df_train.year.iloc[i] == 2015:
        if df_train.dayofyear.iloc[i] == 359 or 358:
            df_train.stateholiday.iloc[i] = 'a'